%h1.gem= "#{@gem_name} (#{@version})"
%p= @description

%h2(style="margin-bottom: 0") Dependents
.timestamp(style="margin-bottom: 12pt")= "(accurate as of #{@last_updated.utc})"

- if @dependents.empty?
  (none)
- else
  %table
    %tr
      %th Dependent
      %th.requirements Requirements
    - @dependents.each do |d|
      %tr
        %td
          .gem
            %a(href="#{d['name']}.html")= d["name"]
        %td.requirements
          = d["requirements"]